.container h2{
	font-size: 24px;
	color:green;
}
.new {
    font-size: 20px;
    color: #314451;
    text-align: center;
    text-transform: capitalize;
}

.second{
	font-size: 12px;
	color:red;
	font-weight: 600;
}
